.container {
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 350px;
  height: 450px;

  border-radius: 1rem;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title span {
  font-size: 13px;
  margin-top: -10px;
}

.lottieBox {
  width: 100%;
  height: 150px;
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.lottie {
  width: 250px;
  height: 250px;
}

.btnContainer {
  width: 100%;
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnContainer button {
  width: 220px;
  height: 40px;
  background: none;
  border: 1.5px solid rgb(168, 168, 168);
  border-radius: 7px;
  font-size: 13px;
  margin: 5px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnContainer button:hover {
  background-color: rgb(255, 255, 255);
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
