.modal {
  width: 200px;
  height: 130px;
  background-color: rgb(245, 245, 245);
  z-index: 999;
  position: absolute;
  top: 130px;
  left: -35px;
  transform: translate(-50%, -50%);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.16);
  animation: fadeIn 0.5s;
  word-break: break-all;
}

.modal h5 {
  font-size: 17px;
  font-weight: 500;
  height: 20px;
  margin: 0;
}

.modal span {
  font-size: 12px;
  margin-top: 10px;
  width: 180px;
  display: line-block;
  text-align: center;
}

.modal:after {
  content: "";
  position: absolute;
  top: 3%;
  left: 80%;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-bottom-color: rgb(245, 245, 245);
  border-top: 0;
  margin-left: -18px;
  margin-top: -18px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  height: 40px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.btnContainer button {
  background: none;
  border: none;
  width: 85px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
  cursor: pointer;
}

.btnContainer button:hover {
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
