.todo {
  background-color: white;
  width: 250px;
  height: 60px;
  border-radius: 1rem;
  margin: 10px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}

.todo:hover {
  transform: scale(1.03);
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox label {
  cursor: pointer;
}

.checkbox input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 0.8rem;
  color: #3f8d46;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.03);
}

.text {
  display: flex;
  flex-direction: column;
}

.text span {
  font-size: 14px;
}

.button {
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

@media all and (max-width: 1024px) {
  .todo {
    width: 350px;
  }
}

@media all and (max-width: 768px) {
  .todo {
    width: 250px;
  }
}
