.todoBox {
  width: 30%;
  height: 52vh;
  margin-left: 27px;

  display: block;
  border-radius: 5px;

  overflow-y: hidden;
}

.todoBox h2 {
  text-align: center;
  font-size: 20px;
}

.todoList {
  height: 45vh;
  overflow-y: scroll;
}

.todoList::-webkit-scrollbar {
  display: none;
}
